/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set a base font and background color for the application */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9; /* Light gray background */
  color: #333; /* Dark text color */
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Make the app responsive */
html, body, #root {
  height: 100%;
}

/* Add a default container style */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Global link styles */
a {
  text-decoration: none;
  color: #007bff; /* Blue links */
}

a:hover {
  text-decoration: underline;
}

/* Simple button styles */
button {
  padding: 10px 15px;
  border: none;
  background-color: #007bff; /* Blue background */
  color: white;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

header{
  background-color: cadetblue;
}

button:hover {
  background-color: #0056b3; /* Darker blue */
}

/* Utility classes */
.text-center {
  text-align: center;
}

.mt-1 {
  margin-top: 10px;
}

.mt-2 {
  margin-top: 20px;
}

.mt-3 {
  margin-top: 30px;
}
